body {
  font-family: "Inter", sans-serif;
}

.scroll-smooth {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.navbar-fixed {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blob-bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.profile-img {
  position: relative;
  z-index: 2;
}

#to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.text-primary-custom {
  color: #b39ddb !important;
}
.bg-primary-custom {
  background-color: #b39ddb !important;
}
.btn-primary-custom {
  background-color: #b39ddb !important;
  border-color: #b39ddb !important;
  color: #333333 !important;
}
.btn-primary-custom:hover {
  opacity: 0.85;
  background-color: #9575cd !important; /* Ungu yang sedikit lebih tua saat disentuh cursor */
  border-color: #9575cd !important;
  color: #ffffff !important; /* Teks berubah putih saat hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
  